body {
    background-color: rgb(245, 245, 245);
}
/* You can add global styles to this file, and also import other style files */
.card-hover:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.active-card {
    background-color: rgb(236, 236, 236);
    /* Bootstrap primary blue, for example */
    font-weight: bold;
}